<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Info</title>
</head>
<body>
<h3>Product List</h3>
<table border="1">
    <tr>
        <th>상품코드</th>
        <th>상품명</th>
        <th>이미지</th>
        <th>가격</th>
        <th>구매</th>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.pro_Code}"></td>
        <td th:text="${product.pro_Name}"></td>
        <td>
            <!-- 이미지 폭을 120으로 설정 -->
            <img th:src="${product != null} ? ${product.pro_Filepath} : ''" alt="Product Image" style="width: 120px;"/>
        </td>
        <td th:text="${product.pro_Price}"></td>
        <td>
            <a th:href="${'/cart/buy/' + product.Pro_Code}">Buy Now</a>
        </td>
    </tr>
</table>
</body>
</html>
