
        #tempaltemo_footer {
            margin-bottom: 300px;
        }
            #tempaltemo_footer {
    margin-bottom: 0.1px;
}

         .card {
            border: none;
            background-color: #f8f9fa;
            transition: transform 0.3s;
            /* 헤더와 타이틀 부분에 사용할 폰트와 색상을 지정. */
            font-family: 'Your Chosen Font', sans-serif;
            color: #2A0A0A;
        }

        .card:hover {
            transform: scale(1.05);
        }

        h5.card-title {
            font-size: 18px;
            font-weight: bold;
            /* 각 카드의 타이틀에 대한 폰트 사이즈와 굵기를 지정. */
        }

        p.card-text {
            font-size: 16px;
            color: #555;
            /* 각 카드의 텍스트에 대한 폰트 사이즈와 색상을 지정. */
        }