<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="int" type="java.lang.Integer" />
        <typeAlias alias="long" type="java.lang.Long" />
    </typeAliases>

    <environments default="development">
        <!--
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@//localhost:1521/xe" />
                <property name="username" value="joinair" />
                <property name="password" value="joinair1234" />
            </dataSource>
        </environment>
        -->
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">

                <!-- H2 데이터베이스 드라이버 및 연결 정보 -->
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:tcp://localhost/~/test" />
                <property name="username" value="sa" />

            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/example/joinair/mapper/userMapper.xml" />


        <!-- 추가 매퍼 파일을 여기에 추가 -->
    </mappers>
</configuration>
