<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Info</title>
    <!-- 부트스트랩 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script>
        function updateSubtotal(row) {
            var priceCell = row.querySelector('.price');
            var quantityInput = row.querySelector('[name="quantity"]');
            var subtotalCell = row.querySelector('.subtotal');

            if (priceCell && quantityInput && subtotalCell) {
                var price = parseFloat(priceCell.textContent);
                var quantity = parseInt(quantityInput.value);
                if (quantity <= 0) {
                    quantityInput.value = 1;
                    quantity = 1;
                }
                var subtotal = price * quantity;
                subtotalCell.textContent = subtotal;
                updateTotal();
            }
        }

        function updateTotal() {
            var subtotalCells = document.querySelectorAll('.subtotal');
            var totalCell = document.querySelector('.total');
            var total = 0;
            subtotalCells.forEach(function(subtotalCell) {
                var subtotal = parseFloat(subtotalCell.textContent);
                total += subtotal;
            });
            if (totalCell) {
                totalCell.textContent = total;
            }
        }

        // 주문하기 버튼 클릭 시 이벤트 핸들러
function redirectToOrderPage() {
    var totalAmount = document.querySelector('.total').textContent;

    // 세션 스토리지에 총 주문 금액 저장
    sessionStorage.setItem('totalAmount', totalAmount);

    // 주문 페이지로 이동
    window.location.href = "/orders/orderMain";
}



    </script>
</head>
<body>
<div class="container">
    <h3 class="my-4">장바구니</h3>
    <form method="post" th:action="${'/cart/update'}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
                <th scope="col">소계</th>
                <th scope="col">옵션</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${session.cart}">
                <td>
                    <img th:src="${item.product != null ? item.product.Pro_Filepath : ''}" alt="Product Image" style="width: 60px;"/>
                    <span th:text="${item.product.Pro_Name != null ? item.product.Pro_Name : ''}"></span>
                </td>
                <td class="price" th:text="${item.product.Pro_Price != null ? item.product.Pro_Price : ''}"></td>
                <td>
                    <input type="number" name="quantity" th:value="${item.quantity}" class="form-control" style="width:60px;" oninput="updateSubtotal(this.parentNode.parentNode)"/>
                </td>
                <td class="subtotal" th:text="${item.product.Pro_Price != null && item.quantity != null ? item.product.Pro_Price * item.quantity : ''}"></td>
                <td>
                    <a th:href="${'/cart/remove/' + item.product.Pro_Code}" class="text-danger">X</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td class="total" th:text="${session.total != null ? session.total : ''}"></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </form>
    <a th:href="@{/productbuy/list}" class="btn btn-primary">계속 쇼핑 하기</a>
    <a href="javascript:void(0);" onclick="redirectToOrderPage()" class="btn btn-primary">주문하기</a>
</div>
<!-- 부트스트랩 관련 스크립트 추가 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
