/* Droneadlist.css */
.layout {
    width: 100%;
    max-width: 1700px; /* 전체적인 표 크기를 좌우로 늘릴 수 있습니다. */
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* 좀 더 큰 패딩 */
    text-align: left;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-column {
    width: 40%; /* 좀 더 큰 폭 */
}

small-column {
    width: 25%; /* 좌우 폭을 더 넓게 조정 */
}

category-column {
    width: 25%; /* 좀 더 큰 폭 */
}

date-column {
    width: 80%; /* 드론등록일자 컬럼은 더 넓게 조정 */
}

pagination {
    margin-top: 20px;
}

.horizontal-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-pagination a {
    margin: 0 5px;
    text-decoration: none;
}

.horizontal-pagination a.current-page {
    color: red;
}

current-page {
    font-weight: bold;
}

no-results {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

/* 기존의 링크에 있는 밑줄을 없애는 스타일 */
a {
    text-decoration: none; /* 링크에 있는 밑줄 제거 */
}

/* 현재 페이지 번호에 있는 밑줄을 없애는 스타일 */
a.current-page {
    text-decoration: none; /* 링크에 있는 밑줄 제거 */
}

td.small-column img {
    max-width: 100px; /* 원하는 최대 가로폭 설정 */
    max-height: 100px; /* 원하는 최대 높이 설정 */
}
