<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 Welcome 페이지</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px auto;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>


<div class="container">
    {{#isAdmin}}
        <h1>Admin Welcome!!!!</h1>
        <h2>관리자 페이지 입니다.</h2>
        <p>You have successfully logged in to JoinAir Admin Page.</p>
    {{/isAdmin}}
    {{^isAdmin}}
        <!-- Redirect to login page for non-admin users -->
        <script>
            window.location.href = "/signInUp"; // Replace with the actual URL of your login page
        </script>
    {{/isAdmin}}


    <a class="button" href="/adminEditUserList">고객 정보 수정 페이지</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="button" href="/admin/sales/report">매출 조회 페이지</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="button" href="/logout">Logout</a>


</div>
</body>
</html>

