<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 정보 상세 정보 수정 페이지</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #45aaf2, #0b6ed4);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            text-align: left;
            padding: 30px;
            width: 40%;
        }

        .container h1 {
            color: #0b6ed4;
            margin-bottom: 20px;
        }

        .form-group {
            margin: 10px 0;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 6px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;

        }

        .button-container {
            margin-top: 20px;
        }

        .button-container button {
            background: #0b6ed4;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .button-container button:hover {
            background: #45aaf2;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>고객 정보 상세 정보 수정 페이지</h1>
    <form action="/adminUpdateUser" method="post">
        <div class="form-group">
            <label for="User_Id" style="font-size: 18px; color: #333; font-weight: bold;">고객 ID</label>
            <input type="text" name="User_Id" id="User_Id" value="{{user.User_Id}}" readonly>
        </div>
        <div class="form-group">
            <label for="User_Name" style="font-size: 18px; color: #333; font-weight: bold;">고객 이름</label>
            <input type="text" name="User_Name" id="User_Name" value="{{user.User_Name}}">
        </div>
        <div class="form-group">
            <label for="User_Email" style="font-size: 18px; color: #333; font-weight: bold;">고객 Email</label>
            <input type="text" name="User_Email" id="User_Email" value="{{user.User_Email}}">
        </div>
        <div class="form-group">
            <label for="User_Address" style="font-size: 18px; color: #333; font-weight: bold;">고객 주소</label>
            <input type="text" name="User_Address" id="User_Address" value="{{user.User_Address}}">
        </div>
        <div class="form-group">
            <label for="User_Phone" style="font-size: 18px; color: #333; font-weight: bold;">고객 핸드폰</label>
            <input type="text" name="User_Phone" id="User_Phone" value="{{user.User_Phone}}">
        </div>
        <div class="form-group">
            <label for="User_Mileage" style="font-size: 18px; color: #333; font-weight: bold;">고객 마일리지</label>
            <input type="text" name="User_Mileage" id="User_Mileage" value="{{user.User_Mileage}}">
        </div>
        <div class="button-container">
            <button type="submit">Update</button>
        </div>
    </form>
</div>
</body>
</html>