<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>주문상세 페이지</title>
  <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/templatemo.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  </head>
<style>
  .img-fluid {
    max-width: 80; /* 최대 폭 설정 */
    max-height: 80px; /* 최대 높이 설정 */
  }
</style>
  <body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
      <div class="w-100 d-flex justify-content-between">
        <div>
          <i class="fa fa-envelope mx-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">Doron delivery@Doron delivery.com</a>
          <i class="fa fa-phone mx-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-1234-5678">010-1234-5678</a>
        </div>
        <div>
          <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light shadow" id="templatemo_main_na">
    <div class="container d-flex justify-content between align-items-center">
      <a class="navbar-brand text-success logo h1 align-self-center" href="/index">Join Air🪂</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav"
              aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
        <div class="flex-fill">
          <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/index">홈</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">회사 소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/productbuy/list">상품</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/qna/qnaList">문의</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notice/list">공지사항</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">로그인</a>
            </li>
          </ul>
        </div>
        <div class="navbar align-self-center d-flex">
          <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
            <div class="input-group">
              <input type="text" class="form-control" id="inputMobileSearch" placeholder="검색">
              <div class="input-group-text">
                <i class="fa fa-fw fa-search"></i>
              </div>
            </div>
          </div>
          <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
            <i class="fa fa-fw fa-search text-dark mr-2"></i>
          </a>
          <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">1</span>
          </a>
          <a class="nav-icon position-relative text-decoration-none" href="#">
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+10</span>
          </a>
        </div>
      </div>
    </div>
  </nav>

<br>
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th class="product-thumbnail">사진</th>
                <th class="product-name">상품</th>
                <th class="product-price">가격</th>
                <th class="product-quantity">수량</th>
                <th class="product-total">총가격</th>
                <th class="product-remove">Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="orderDetail : ${orderDetails}">
                <td class="product-thumbnail">
                  <img th:src="${orderDetail.product.imageUrl}" alt="Image" class="img-fluid">
                </td>
                <td class="product-name">
                  <h2 class="h5 text-black" th:text="${orderDetail.product.name}"></h2>
                </td>
                <td th:text="${orderDetail.product.price}"></td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary js-btn-minus" type="button">−</button>
                    </div>
                    <input type="text" class="form-control text-center" th:value="${orderDetail.quantity}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary js-btn-plus" type="button">+</button>
                    </div>
                  </div>
                </td>
                <td th:text="${orderDetail.totalPrice}"></td>
                <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <!-- 다른 주문 정보 출력 부분 추가 -->

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6">
              <button class="btn btn-outline-primary btn-sm btn-block" onclick="history.back();">뒤로가기</button>
            </div>
          </div>
          <div class="row">

            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="마일리지 사용하기">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm px-4">적용</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">총 가격</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" th:text="${totalPrice}"></strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary btn-lg btn-block" th:href="@{'checkout/' + ${orderId}}">결제로 진행</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark" id="tempaltemo_footer">
      <div class= "container">
        <div class="row">
          <div class="col-md-4 pt-5">
            <h2 class="h2 text-success border-bottom pb-3 border-light logo">Join Air🪂</h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li>
                <i class="fas fa-map-marker-alt fa-fw"></i>
                한국직업전문학교 11층 강의실02 항공4기 2조
              </li>
              <li>
                <i class="fa fa-phone fa-fw"></i>
                <a class="text-decoration-none" href="tel:010-1234-5678">010-1234-5678</a>
              </li>
              <li>
                <i class="fa fa-envelope fa-fw"></i>
                <a class="text-decoration-none" href="mailto:info@dronefood.com">drone@dronedelivery.com</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 pt-5">
            <h2 class="h2 text-light border-bottom pb-3 border-light">메뉴</h2>
            <ul class="list-unstyled text-light footer-link-list">
              <li><a class="text-decoration-none" href="#">주문 하기</a></li>
              <li><a class="text-decoration-none" href="#">배달 정보</a></li>
              <li><a class="text-decoration-none" href="#">고객 지원</a></li>
              <li><a class="text-decoration-none" href="#">드론 정보</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/membership.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
