<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항 리스트</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../static/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/templatemo.css">
    <link rel="stylesheet" href="../static/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">Doron delivery@Doron delivery.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-1234-5678</a>
            </div>

        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/index">Join Air🪂</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#templatemo_main_nav"
                aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">회사 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productbuy/list">상품</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qna/qnaList">문의</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notice/list">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="${session.User_Id != null} ? @{/logout} : @{/login}">
                            <span th:if="${session.User_Id != null}">로그아웃</span>
                            <span th:unless="${session.User_Id != null}">로그인</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <br>
    <h1 style="text-align: center; font-weight: bold;">공지사항</h1>

    <br>
</header>
<div class="container my-4">
    <div class="layout">
        <a href="/notice/create" class="btn btn-primary mb-3">새 글 작성</a>
        <table class="table table-striped">
            <!-- 테이블 헤더 -->
            <thead class="thead-light">
            <tr>
                <th class="small-column">글번호</th>
                <th class="title-column">제목</th>
                <th class="small-column">작성자</th>
                <th class="date-column">작성일</th>
            </tr>
            </thead>
            <tbody>
            <!-- 공지사항 목록 반복 출력 -->
            <tr th:each="notice : ${list}">
                <td class="small-column" th:text="${notice.Not_No}">1</td>
                <td class="title-column">
                    <a th:href="@{/notice/view(Not_No=${notice.Not_No})}" th:text="${notice.Not_Title}"></a>
                </td>
                <td class="small-column" th:text="${notice.Not_Writer}"></td>
                <td class="date-column" th:text="${#dates.format(notice.Not_Date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a class="btn btn-primary" th:if="${page != nowPage}" th:href="@{/notice/list(page=${page-1}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color: red"></strong>
            </th:block>
        </div>
        <div class="search-form my-3">
            <form th:action="@{/notice/list}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control search-input" name="searchKeyword" placeholder="검색어를 입력하세요">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success search-button">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Join Air🪂</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        한국직업전문학교 11층 강의실02 항공4기 2조
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-1234-5678">010-1234-5678</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@dronefood.com">drone@dronedelivery.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">메뉴</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">주문 하기</a></li>
                    <li><a class="text-decoration-none" href="#">배달 정보</a></li>
                    <li><a class="text-decoration-none" href="#">고객 지원</a></li>
                    <li><a class="text-decoration-none" href="#">드론 정보</a></li>
                </ul>
            </div>
            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">정보</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/index">홈</a></li>
                    <li><a class="text-decoration-none" href="/about">회사/소개</a></li>
                    <li><a class="text-decoration-none" href="#">문의</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">

            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../static/assets/js/templatemo.js"></script>
<script src="../static/assets/js/custom.js"></script>


<!--로그인 → 로그아웃-->
<script>
    // 세션 상태 확인
    var userId = sessionStorage.getItem("User_Id");

    // 로그인 및 로그아웃 메뉴 요소 가져오기
    var loginItem = document.querySelector(".nav-item .nav-link[href='/login']");
    var logoutItem = document.querySelector(".nav-item .nav-link[href='/logout']");

    if (userId) {
        // 세션이 있으면 로그인 메뉴 항목을 감추고 로그아웃 메뉴 항목을 표시합니다
        loginItem.style.display = "none";
        logoutItem.style.display = "block";
    } else {
        // 세션이 없으면 로그인 메뉴 항목을 표시하고 로그아웃 메뉴 항목을 감춥니다
        loginItem.style.display = "block";
        logoutItem.style.display = "none";
    }

    // 로그아웃 메뉴 항목 클릭 시 세션 삭제
    logoutItem.addEventListener("click", function() {
        sessionStorage.removeItem("User_Id");
        // 로그아웃 후 로그인 메뉴 항목을 표시하고 로그아웃 메뉴 항목을 감춥니다
        loginItem.style.display = "block";
        logoutItem.style.display = "none";
    });
</script>
</body>
</html>
