<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Complete</title>
</head>
<body>
<h2>주문 상세 페이지 </h2>
<table border="1">
    <thead>
    <tr>
        <th>Order Detail Number</th>
        <th>Order Number</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Total Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderDetail : ${orderDetails}">
        <td th:text="${orderDetail.OD_Num}"></td>   <!-- 기본키 자동생성 주문상세번호 OD_Num-->

        <td th:text="${orderDetail.OD_Pro_Name}">   <!-- 장바구니 담긴 그 상품 이름 OD_Pro_Name-->
        <td th:text="${orderDetail.OD_Pro_Price}">   <!--장바구니 담긴 그 상품의 가격  OD_Pro_Price-->
        <td th:text="${orderDetail.OD_Qua}"></td>      <!--장바구니 담긴 그 상품의 수량  OD_Qua-->
        <td th:text="${orderDetail.OD_Totalweight}"></td> <!--장바구니 담긴 그 상품들의 무게 OD_Totalweight -->
        <td th:text="${orderDetail.OD_Total_Price}"></td> <!-- 소계 OD_Total_Price-->


        <!--        <td th:text="${orderDetail.Orders_Num}"></td> -->
    </tr>
    </tbody>
</table>
</body>
</html>
