<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Complete</title>
</head>
<body>
<h2>주문 상세 페이지 </h2>
<table border="1">
    <thead>
    <tr>
        <th>Order Detail Number</th>
        <th>Order Number</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Total Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderDetail : ${orderDetails}">
        <td th:text="${orderDetail.OD_Num}"></td>   //주문상세번호
<!--        <td th:text="${orderDetail.Orders_Num}"></td> -->
        <td th:text="${orderDetail.OD_Qua}"></td>
        <td th:text="${orderDetail.OD_Total_Price}"></td>
        <td th:text="${orderDetail.OD_Totalweight}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
