<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제창</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .scroll-box {
    overflow: auto;
    max-height: 600px;
    padding: 10px;
    background-color: skyblue;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 scroll-box">
            <h1 class="text-center">결제창</h1>
            <!-- 결제 정보 -->
            <p>총 상품 주문금액: <span class="total" id="total"></span></p>
            <p>할인 금액: <span id="discountAmount">0</span></p>
            <p>총 적립 금액: <span class="reward" id="rewardAmount"></span></p>
            <p>최종 결제 금액: <span class="final" id="total1"></span></p>
            <!-- 결제버튼 -->
            <button onclick="requestCardPayment()" class="btn btn-primary">카드결제</button>
            <button onclick="redirectToBankTransferPage()" class="btn btn-primary">무통장입금</button>
        </div>
    </div>
</div>
<script>
    // 아임포트 초기화 및 카드결제 요청
    function requestCardPayment() {
        var finalPaymentAmount = parseFloat(document.querySelector('.final').textContent);
        var merchant_uid = 'merchant_' + new Date().getTime();

        IMP.init('iamport');
        IMP.request_pay({
            pg: "inicis",
            pay_method: "card",
            merchant_uid: merchant_uid,
            name: 'joinair',
            amount: finalPaymentAmount,
            buyer_email: 'iamport@siot.do',
            buyer_name: '구매자',
            buyer_tel: '010-1234-5678',
            buyer_addr: '서울특별시 강남구 삼성동',
            buyer_postcode: '123-456'
        }, function (rsp) {
            if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                alert(msg);
                location.href = "결제 완료 후 이동할 페이지 URL";
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
            }
        });
    }

    // 무통장입금 버튼 클릭 시 페이지 이동
    function redirectToBankTransferPage() {
        window.location.href = "/payment/Deposit";
    }
</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</body>
</html>
