<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 등록폼</title>
</head>
<style>
    .layout{
          width : 500px;
          margin : 0 auto;
          margin-top : 40px;
      }

      .layout input {
          width: 100%;
          box-sizing: border-box;
          margin-top: 10px;
      }

      .layout textarea {
          width: 100%;
          box-sizing: border-box;
          margin-top: 10px;
          min-height: 300px;
      }
</style>
<body>
<div class="layout">
    <form action="/productad/registpro" method="post" enctype="multipart/form-data">
        <label for="Pro_Code">상품 코드:</label>
        <input name="Pro_Code" type="text" id="Pro_Code">

        <label for="Cate_No">카테고리식별번호:</label>
        <input name="Cate_No" type="text" id="Cate_No">

        <label for="Pro_Name">상품 이름:</label>
        <input name="Pro_Name" type="text" id="Pro_Name">

        <label for="Pro_Price">가격:</label>
        <input name="Pro_Price" type="text" id="Pro_Price">

        <label for="Pro_Inventory">재고량:</label>
        <input name="Pro_Inventory" type="text" id="Pro_Inventory">

        <label for="Pro_Weight">무게:</label>
        <input name="Pro_Weight" type="text" id="Pro_Weight">

        <label for="file">파일 업로드:</label>
        <input type="file" name="file" id="file">

        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>
