<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 수정폼</title>
</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .layout textarea {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
        min-height: 300px;
    }
</style>
<body>
<div class="layout">
    <form th:action="@{/productad/update/{Pro_Code}(Pro_Code=${product.Pro_Code})}" method="post" enctype="multipart/form-data">
        <!-- 상품 정보를 수정할 수 있는 입력 필드 추가 -->
        <label for="Cate_No">카테고리식별번호:</label>
        <input name="Cate_No" type="text" id="Cate_No" th:value="${product.Cate_No}">

        <label for="Pro_Name">상품 이름:</label>
        <input name="Pro_Name" type="text" id="Pro_Name" th:value="${product.Pro_Name}">

        <label for="Pro_Price">가격:</label>
        <input name="Pro_Price" type="text" id="Pro_Price" th:value="${product.Pro_Price}">

        <label for="Pro_Inventory">재고량:</label>
        <input name="Pro_Inventory" type="text" id="Pro_Inventory" th:value="${product.Pro_Inventory}">

        <label for="Pro_Weight">무게:</label>
        <input name="Pro_Weight" type="text" id="Pro_Weight" th:value="${product.Pro_Weight}">

        <input type="file" name="file" th:if="${product != null}">

        <button type="submit" th:if="${product != null}">수정</button>
    </form>

</div>
</body>
</html>
