<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QNA List</title>
</head>
<body>
    <h1>QNA List</h1>
    <table>
        <tr>
            <th>Qna_No</th>
            <th>Pro_Code</th>
            <th>User_Id</th>
            <th>Qna_Title</th>
            <th>Qna_Content</th>
        </tr>
        {{#qna}}
        <tr>
            <td>{{Qna_No}}</td>
            <td>{{Pro_Code}}</td>
            <td>{{User_Id}}</td>
            <td>{{Qna_Title}}</td>
            <td>{{Qna_Content}}</td>
        </tr>
        {{/qna}}
    </table>
</body>
</html>
