<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QNA List</title>
</head>
<body>
    <h1>QNA List</h1>
    <table>
        <tr>
            <th>Not_No</th>
            <th>Not_Title</th>
            <th>Not_Content</th>
            <th>Not_Date</th>
        </tr>
        {{#qna}}
        <tr>
            <td>{{Not_No}}</td>
            <td>{{Not_Title}}</td>
            <td>{{Not_Content}}</td>
            <td>{{Not_Date}}</td>
        </tr>
        {{/qna}}
    </table>
</body>
</html>
