<!DOCTYPE html>
<html lang="en">
<head>
    <title>JoinAir</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type=" image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <style>
        #tempaltemo_footer {
            margin-bottom: 300px;
        }
    </style>

    <meta charset="UTF-8">
    <title>Q&A 목록</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">Doron delivery@Doron delivery.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a href="tel:010-1234-5678" class="navbar-sm-brand text-light text-decoration-none">010-1234-5678</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>

                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">Join Air🪂</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:63342/joinair/src/main/resources/templates/index.html">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:63342/joinair/src/main/resources/templates/about.html">회사 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../productbuy/list">상품</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../qna/qnaList">문의</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../notice/list">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../login">로그인</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="검색">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
            </div>
        </div>
    </div>
</nav>

    <meta charset="UTF-8">
    <title>Q&A 상세 정보</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Q&A 상세 정보</h1>
    <h2>{{qna.QNA_TITLE}}</h2>
    <p>Q&A 번호: {{qna.QNA_NO}}</p>
    <p>상품 코드: {{qna.PRO_CODE}}</p>
    <p>작성자: {{qna.USER_ID}}</p>
    <p>문의 내용:</p>
    <p>{{qna.QNA_CONTENT}}</p>
    <a href="/qna/qnaList" class="btn btn-primary">뒤로 가기</a>
    <a href="/qna/qnaUpdate-view/{{qna.QNA_NO}}" class="btn btn-info">수정</a>
    <a href="/qna/qnadelete/{{qna.QNA_NO}}" class="btn btn-danger">삭제</a>

    <!-- 댓글 추가 양식 -->
    <h3>댓글</h3>
    <!-- flag가 true 인 경우에만 댓글 섹션을 표시합니다 -->
    {{#qna.flag}}
        <!-- flag가 true 인 경우 댓글 내용을 표시합니다 -->
        <p>댓글 내용: {{qna.QNA_COMMAND}}</p>
    {{/qna.flag}}
    <!-- flag가 false 이거나 정의되지 않은 경우 (flag가 없거나 false 인 경우) 다른 내용을 표시합니다 -->
    {{^qna.flag}}
        <!-- flag가 false 이거나 정의되지 않은 경우 다른 내용을 표시합니다 -->
        <p>댓글이 없습니다.</p>
    {{/qna.flag}}

    <!-- 댓글 추가 양식 -->
    <h3>댓글 추가</h3>
    <form action="/qna/qnaupdateCommand/{{qna.QNA_NO}}" method="post">
        <input type="hidden" name="QNA_NO" value="{{qna.QNA_NO}}">
        <div class="form-group">
            <textarea name="text" rows="4" cols="50" class="form-control" placeholder="댓글 내용을 입력하세요" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">댓글 추가</button>
    </form>
</div>
<footer class="bg-dark" id="tempaltemo_footer" style="margin-bottom: -1000px;">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Join Air🪂</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        한국직업전문학교 11층 강의실02 항공4기 2조
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-1234-1234</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">drone delivery
                            @drone delivery
                            .com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">메뉴</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">주문하기</a></li>
                    <li><a class="text-decoration-none" href="#">배달 정보</a></li>
                    <li><a class="text-decoration-none" href="#">고객지원</a></li>


                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">추가 정보</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="http://localhost:63342/joinair/src/main/resources/templates/index.html">홈</a></li>
                    <li><a class="text-decoration-none" href="#">회사 소개</a></li>
                    <li><a class="text-decoration-none" href="#">드론 정보</a></li>
                    <li><a class="text-decoration-none" href="#">고객센터</a></li>

                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a rel="nofollow" class="text-light text-decoration-none" target="_blank" href="http://fb.com/templatemo"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>


                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Drone Delivery@drone delivery.com

                </label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="">

                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        저작권 © 2023 Join Air
                        <a rel="sponsored" href="https://templatemo.com/page/1" target="_blank"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
