<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A 추가</title>
</head>
<body>
<h1>Q&A 추가</h1>
<form method="post" action="/qna/qnainsert">
    <label for="QNA_NO">문의 번호:</label>
    <input type="text" name="QNA_NO" required>
    <br>
    <label for="QNA_TITLE">문의 제목:</label>
    <input type="text" name="QNA_TITLE" required>
    <br>
    <label for="QNA_CONTENT">문의 내용:</label>
    <textarea name="QNA_CONTENT" required></textarea>
    <br>
    <label for="USER_ID">작성자:</label>
    <input type="text" name="USER_ID" required>
    <br>
    <label for="PRO_CODE">상품 코드:</label>
    <input type="text" name="PRO_CODE" required>
    <br>
    <input type="submit" value="Q&A 추가">
</form>
<a href="/qna/qnaList">뒤로 가기</a>
</body>
</html>
