<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <title>JoinAir</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <style>

       margin-top: 50px;
       padding: 20px 0;
   }
    </style>

    <meta charset="UTF-8">
    <title>Q&A 추가</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">Doron delivery@Doron delivery.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a href="tel:010-1234-5678" class="navbar-sm-brand text-light text-decoration-none">010-1234-5678</a>
            </div>
            <div>
                <span th:if="${userId != null and (userId != 'anonymousUser')}">💫 <span th:text="${userId}"></span> 님 환영합니다 💫</span>
                <span sec:authorize="hasAuthority('admin')">
                    <a th:href="@{/adminWelcome}" class="nav-link" style="display: inline-block; margin-left: 10px;">관리자 페이지</a></span>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>

                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">Join Air🪂</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">회사 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productbuy/list">상품</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qna/qnaList">문의</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notice/list">공지사항</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div>
                            <a th:href="@{/logout}" class="nav-link">로그아웃</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <div>
                            <a th:href="@{/login}" class="nav-link">로그인</a>
                        </div>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="검색">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Q&A 추가</h1>
    <form method="post" action="/qna/qnainsert">

        <div class="form-group">
            <label for="QNA_TITLE">문의 제목:</label>
            <input type="text" class="form-control" name="QNA_TITLE" id="QNA_TITLE" required>
        </div>
        <div class="form-group">
            <label for="QNA_CONTENT">문의 내용:</label>
            <textarea class="form-control" name="QNA_CONTENT" id="QNA_CONTENT" required></textarea>
        </div>
        <div class="form-group">
            <label for="USER_ID">작성자:</label>
            <input th:if="${userId != null and (userId != 'anonymousUser')}" type="text" class="form-control" name="USER_ID" th:value="${userId}" id="USER_ID" readonly required>
            <input th:unless="${userId != null and (userId != 'anonymousUser')}" type="text" class="form-control" name="USER_ID" readonly disabled>
            <span th:unless="${userId != null and (userId != 'anonymousUser')}">로그인 후 작성 가능합니다.</span>
        </div>

        <div class="form-group">
            <label for="PRO_CODE">상품 코드:</label>
            <input type="text" class="form-control" name="PRO_CODE" id="PRO_CODE" required>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary" onclick="redirectToQnaList()">Q&A 추가</button>
        <a href="/qna/qnaList" class="btn btn-success">뒤로 가기</a>
        </div>
    </form><br><br>

</div>


<!-- 푸터 시작 -->
<footer class="bg-dark" id="tempaltemo_footer" style="padding: px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-5  pt-1"><br>
                <h2 class="h2 text-success border-bottom pb-1 border-light logo">Join Air🪂</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><i class="fas fa-map-marker-alt fa-fw"></i>한국직업전문학교 11층 강의실02 항공4기 2조</li>
                    <li><i class="fa fa-phone fa-fw"></i><a class="text-decoration-none" href="tel:010-1234-5678">010-1234-5678</a>
                    </li>
                    <li><i class="fa fa-envelope fa-fw"></i><a class="text-decoration-none"
                                                               href="mailto:info@dronefood.com">drone@dronedelivery.com</a>
                    </li>
                    <div class="col-10 text-center mt-4">
                        <p class="text-center">저작권 © 2023 Join Air</p>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Add Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/templatemo.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script>
    function redirectToQnaList() {
        window.location.href = "/qna/qnaList";
    }
</script>
<!-- Mustache.js 라이브러리를 포함합니다 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>

</body>
</html>
