<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A 수정</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Q&A 수정</h1>
    <form method="post" action="/qna/qnaUpdate/{{qna.QNA_NO}}">
        <input type="hidden" name="QNA_NO" value="{{qna.QNA_NO}}">
        <div class="form-group">
            <label for="QNA_TITLE">문의 제목:</label>
            <input type="text" name="QNA_TITLE" class="form-control" value="{{qna.QNA_TITLE}}">
        </div>
        <div class="form-group">
            <label for="QNA_CONTENT">문의 내용:</label>
            <textarea name="QNA_CONTENT" class="form-control">{{qna.QNA_CONTENT}}</textarea>
        </div>
        <div class="form-group">
            <label for="USER_ID">작성자:</label>
            <input type="text" READONLY name="USER_ID" class="form-control" value="{{qna.USER_ID}}">
        </div>
        <div class="form-group">
            <label for="PRO_CODE">상품 코드:</label>
            <input type="text" READONLY name="PRO_CODE" class="form-control" value="{{qna.PRO_CODE}}">
        </div>
        <button type="submit" class="btn btn-primary">Q&A 수정</button>
    </form>
    <a href="/qna/qnaList" class="btn btn-secondary">뒤로 가기</a>
</div>
</body>
</html>
