<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성폼</title>
</head>

<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top :40px;
    }

    .layout input {
        width: 100%;
        box-sizing :board-box;
    }

    .layout textarea {
        width :100%;
        margin-top :10px;
        min-height :300px;
    }

</style>
<body>
<div class="layout">
    <form action="/review/writepro" method="post" enctype="multipart/form-data">
        <label for="Rev_Title">제목: </label>
        <input name="Rev_Title" type="text" id="Rev_Title">

        <label for="Rev_Writer">작성자: </label>
        <input name="Rev_Writer" type="text" id="Rev_Writer"> <!-- 사용자가 직접 입력 -->

        <label for="Rev_Content">내용: </label>
        <textarea name="Rev_Content" id="Rev_Content"></textarea>

        <label for="file">파일 업로드: </label>
        <input type="file" name="file" id="file">

        <button type="submit">작성</button>
    </form>
</div>


</body>
</html>