<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정폼</title>
</head>

<style>
    .layout{
        width : 500px;
        margin : 0 auto;
        margin-top :40px;
    }

    .layout input {
        width: 100%;
        box-sizing :board-box;
    }

    .layout textarea {
        width :100%;
        margin-top :10px;
        min-height :300px;
    }

</style>
<body>
<div class="layout">
    <form th:action="@{/review/update/{Rev_No}(Rev_No= ${review.Rev_No})}" method="post">
        <input name="Rev_Title" type="text" th:if="${review != null}" th:value="${review.Rev_Title}">
        <textarea name="Rev_Content" th:if="${review != null}" th:text="${review.Rev_Content}"></textarea>
        <button type="submit" th:if="${review != null}">수정</button>

    </form>
</div>




</body>
</html>