<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <title>naverMaps</title>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=99mvrbmia1"></script>

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <style>

        body {
               font-family: 'Malgun Gothic', sans-serif;
           }

           .nav-link strong {
               font-family: 'Malgun Gothic', sans-serif;
               font-weight: bold;
           }


          #tempaltemo_footer {
              margin-bottom: 300px;
          }
              #tempaltemo_footer {
      margin-bottom: 0.1px;
      }

                #map-container {
             width: 70%; /* Set the desired width */
             height: 500px; /* Set the desired height */
             margin: 0 auto; /* Center the map horizontally */
             margin-top: 20px; /* Add top margin for spacing */
         }

         #map {
             width: 100%;
             height: 100%;
         }
    </style>


</head>
<body>
<!-- 첫 번째 네브바 -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com"> Doron delivery@Doron delivery.com

                </a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-1234-4567</a>
            </div>
            <div>
                <div>
                    <span th:if="${userId != null and (userId != 'anonymousUser')}">💫 <span th:text="${userId}"></span> 님 환영합니다 💫</span>
                    <span sec:authorize="hasAuthority('admin')">
                        <a th:href="@{/adminWelcome}" class="nav-link" style="display: inline-block; margin-left: 10px;">관리자 페이지</a></span>

                    <!-- 사용자의 마일리지 표시 -->
                    <span th:if="${userMileage != null}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span th:text="${userMileage}"></span> 마일리지 </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                    <!--                <span class="connected-id" th:if="${userId != null and userAuthorities == 'admin' }">💫 <span th:text="${userId}"></span> 님1 환영합니다 💫</span>-->
                    <!--                <span sec:authorize="principal.authorities('admin', 'user') and isAuthenticated()">💫 <span sec:authentication="principal.username"></span> 님 환영합니다 💫</span>-->


                    <!-- 사용자 권한에 따라 추가적인 정보 표시 (예: 관리자 여부) -->
                    <!--                <span sec:authorize="hasRole('ADMIN')"> (관리자) </span>-->


                    <!--                <span th:if="${userAuthorities.contains('admin')}"> (관리자) </span>-->
                    <!--                <span class="connected-id" th:if="${session.User_Id != null}">💫 <span th:text="${session.User_Id}"></span> 님 환영합니다 💫</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a></span>
                </div>

            </div>
        </div>
    </div>
</nav>
<!-- 두 번째 네브바 -->
<nav class="navbar navbar-expand-lg navbar-light shadow" id="templatemo_main_na">
    <div class="container d-flex justify-content between align-items-center">
        <a class="navbar-brand text-success logo h1 align-self-center" href="/index">Join Air🪂</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav"
                aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index"><strong>홈</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><strong style="">회사소개</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productbuy/list"><strong>상품</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qna/qnaList"><strong>문의</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notice/list"><strong>공지사항</strong></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div>
                            <a th:href="@{/logout}" class="nav-link"><strong>로그아웃</strong></a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <div>
                            <a th:href="@{/login}" class="nav-link"><strong>로그인</strong></a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="검색">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" id="templatemo_search_icon">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="/cart">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>&nbsp&nbsp&nbsp
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="/mypage">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
<div id="map-container">
    <div id="map"></div>
</div>

<script>
    var dronMarker;
    var dronLatitude = 37.79788586946026;
    var dronLongitude  =128.9086556407083;

    var endLatitude = 37.79788586946026;
    var endLontitude = 128.9086556407083;

    var intervalValue ;

    // 1초에 한번씩 들어옴
        function calDronLocation() {
            $.ajax({
                type : "POST",
                // controller 에 매핑된 url
                url : "/shipping/cal/location",
                dataType : "json",
                data: {
                    dronLat: dronLatitude,
                    dronLon: dronLongitude,
                    endLat: endLatitude,
                    endLon: endLontitude
                },
                error : function(){
                    alert('error');
                },
                success : function(data){


                  // 현재 드론의 위치와, 목적지를 api 서버로 올려주면
                  // 응답으로 계산된 드론의 위치를 내려준다.

                  dronLatitude = data.format.dronLat;
                  dronLongitude = data.format.dronLon;

                  if(data.format.isDest === true ) {
                    clearInterval(intervalValue);
                  }

                  dronMarker.setPosition( new naver.maps.LatLng(dronLatitude, dronLongitude)  );


                  var eta = data.format.eta;
                  console.log("eta : " + eta);

                }
            });



        }

        // 이페이지가 로드되면 실행되는 곳
        $(document).ready(function(){
            $.ajax({
                type : "POST",
                // controller 에 매핑된 url
                url : "/shipping/doc",
                dataType : "json",
                data: {
                    userId: "admin",
                    orderId: 12345
                },
                error : function(){
                    alert('error');
                },
                success : function(data){

                    console.log(data);


                    var startLatitude = data.format.startLat;
                    var startLontitude = data.format.startLon;
                    endLatitude = data.format.endLat;
                    endLontitude = data.format.endLon;

                    dronLatitude = startLatitude;
                    dronLongitude = startLontitude;

                    console.log(startLatitude);
                    console.log(startLontitude);
                    console.log(endLatitude);
                    console.log(endLontitude);


                    // 지도 그려주고
                    var map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(startLatitude, startLontitude),
                    zoom: 15
                    });

                    // 시작점과 마지막 점까지 1자 선을 그리자
                    var polyline = new naver.maps.Polyline({
                            map: map,
                            path: [
                                new naver.maps.LatLng(startLatitude, startLontitude),
                                new naver.maps.LatLng(endLatitude, endLontitude)
                            ]
                        });

                        // 시작점
                        var startMarker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(startLatitude, startLontitude),
                            map: map

                        });

                        var endMarker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(endLatitude, endLontitude),
                            map: map
                        });

                        dronMarker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(dronLatitude, dronLongitude),
                            map: map,
                            icon: {
                            url: '/assets/dron.png',
                            size: new naver.maps.Size(24, 24),
                            origin: new naver.maps.Point(0, 0),
                            anchor: new naver.maps.Point(12, 12)
                        }
                        });
                       intervalValue = setInterval("calDronLocation()", 1000);
                }
            });
        });




</script>

<!-- 푸터 -->
<footer class="bg-dark pt-1" id="tempaltemo_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pt-3">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Join Air🪂</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        한국직업전문학교 11층 강의실02 항공4기 2조
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-1234-1234</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">drone delivery
                            @drone delivery
                            .com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 pt-4 text-left">
                <h2 class="h2 text-light border-bottom pb-3 border-light">정보</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="/index">홈</a></li>
                    <li><a class="text-decoration-none" href="/about">회사 소개</a></li>
                    <li><a class="text-decoration-none" href="#">드론 정보</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 bg-black py-1 mt-0">
        <div class="container">
            <div class="row pt-1">
                <div class="col-3">
                    <p class="text-left text-light mb-0">
                        저작권 © 2023 Join Air
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>