<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.joinair.mapper.OrderMapper">

    <insert id="insertOrderDetail" parameterType="com.example.joinair.dto.ORDER_DETAIL">
        <![CDATA[
        INSERT INTO ORDER_DETAIL (
            OD_Num, Orders_Num, OD_Request, OD_Date, OD_Qua, OD_Total_Price, OD_Totalweight, OD_Location, OD_Reqtime, OD_Pro_Name, OD_Pro_Price
        )
        VALUES (
            OD_NUM_SEQ.NEXTVAL,
            #{Orders_Num, jdbcType=INTEGER},
            #{OD_Request, jdbcType=VARCHAR},
            #{OD_Date, jdbcType=TIMESTAMP},
            #{OD_Qua, jdbcType=INTEGER},
            #{OD_Total_Price, jdbcType=DOUBLE},
            #{OD_Totalweight, jdbcType=DOUBLE},
            #{OD_Location, jdbcType=VARCHAR},
            #{OD_Reqtime, jdbcType=VARCHAR},
            (SELECT Pro_Name FROM Product WHERE Pro_Name = #{OD_Pro_Name}),
            (SELECT Pro_Price FROM Product WHERE Pro_Name = #{OD_Pro_Name})
        )
    ]]>
    </insert>

    <insert id="insertOrder" parameterType="com.example.joinair.dto.ORDERS">
        <selectKey keyProperty="orders_Num" resultType="int" order="BEFORE">
            SELECT ORDERS_num_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        <![CDATA[
    INSERT INTO ORDERS (Orders_Num, User_Id, Orders_Total_Price, Orders_Totalweight, Orders_state, Orders_Pname, Orders_Dest, Orders_Phone)
    VALUES (#{orders_Num}, #{user_Id}, #{orders_Total_Price}, #{orders_Totalweight}, '결제 대기', #{Orders_Pname}, #{Orders_Dest}, #{Orders_Phone})
    ]]>
    </insert>

    <select id="getOrder" resultType="com.example.joinair.dto.ORDERS">
        SELECT * FROM ORDERS WHERE Orders_Num = #{orderId}
    </select>

    <select id="getOrderDetails" resultType="com.example.joinair.dto.ORDER_DETAIL">
        SELECT * FROM ORDER_DETAIL WHERE Orders_Num = #{orderId}
    </select>

</mapper>
