<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.joinair.mapper.paymentMapper">

    <select id="getNextOrderNumber" resultType="int">
        SELECT SEQ_ORDER.NEXTVAL FROM DUAL
    </select>

    <select id="getNextPaymentNumber" resultType="int">
        SELECT SEQ_PAYMENT.NEXTVAL FROM DUAL
    </select>

    <insert id="savePayment" parameterType="com.example.joinair.dto.PAYMENT">
        INSERT INTO PAYMENT (PAY_NO, ORDERS_NUM, PAY_PRICE, PAY_METHOD, PAY_STATUS)
        VALUES (#{PAY_NO}, #{ORDERS_NUM}, #{PAY_PRICE}, #{PAY_METHOD}, #{PAY_STATUS})
    </insert>

</mapper>
