<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.joinair.mapper.qnaMapper">
    <select id="qnaList" resultType="com.example.joinair.dto.QNA" >
        SELECT * FROM qna
        <where>
            <if test="keyword != null and keyword != ''">
                AND QNA_TITLE LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY QNA_NO DESC
    </select>

    <select id="qna" resultType="com.example.joinair.dto.QNA">
        SELECT * FROM qna WHERE QNA_NO = #{QNA_NO}
    </select>
    <update id="qnaupdateView">
        UPDATE qna SET QNA_VIEWS = QNA_VIEWS + 1 WHERE QNA_NO = #{QNA_NO}
    </update>

    <update id="qnaupdateCommand">
        UPDATE qna SET QNA_COMMAND = #{QNA_COMMAND} WHERE QNA_NO = #{QNA_NO}
    </update>

    <insert id="qnainsert">
        INSERT INTO qna (QNA_NO, PRO_CODE, USER_ID, QNA_TITLE, QNA_CONTENT)
        VALUES (#{QNA_NO}, #{PRO_CODE}, #{USER_ID}, #{QNA_TITLE}, #{QNA_CONTENT})
    </insert>
    <update id="qnaupdate">
        UPDATE qna
        SET QNA_TITLE = #{QNA_TITLE},
        QNA_CONTENT = #{QNA_CONTENT}
        WHERE QNA_NO = #{QNA_NO}
    </update>
    <delete id="qnadelete">
        DELETE FROM qna WHERE QNA_NO = #{QNA_NO}
    </delete>

    <select id="qnapaging" resultType="com.example.joinair.dto.QNA">
        <![CDATA[
SELECT *
FROM (SELECT a.*, ROWNUM rnum
      FROM (SELECT * FROM qna ORDER BY QNA_NO DESC) a
      WHERE ROWNUM <= #{offset} + #{pageSize})
WHERE rnum > #{offset}
    ]]>
    </select>
    <select id="qnapageNum" resultType="int"> <!--페이징처리-->
        SELECT COUNT(*) as totalRecords FROM qna
    </select>


</mapper>
