<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.example.joinair.mapper.qnaMapper">

    <select id="qnaList" resultType="java.util.HashMap">
        SELECT * FROM qna
        <if test="keyword != null and keyword != ''">
            WHERE NOT_TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY NOT_NO DESC
    </select>