<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.joinair.mapper.qnaMapper">
    <select id="qnaList" resultType="com.example.joinair.dto.QNA">
        SELECT * FROM qna

        WHERE qna_title like '%${keyword}%'
        ORDER BY QNA_NO DESC
    </select>

    <select id="qna" resultType="com.example.joinair.dto.QNA">
        SELECT * FROM qna WHERE QNA_NO = #{QNA_NO}
    </select>
    <update id="qnaupdateView">
        UPDATE qna SET QNA_VIEWS = QNA_VIEWS + 1 WHERE QNA_NO = #{QNA_NO}
    </update>

    <update id="qnaupdateCommand">
        UPDATE qna SET QNA_COMMAND = #{QNA_COMMAND} WHERE QNA_NO = #{QNA_NO}
    </update>

    <insert id="qnainsert" parameterType="com.example.joinair.dto.QNA">
        <selectKey keyProperty="QNA_NO" resultType="java.lang.Integer" order="BEFORE">
            SELECT QNA_SEQ.NEXTVAL AS QNA_NO FROM DUAL
        </selectKey>
        INSERT INTO qna (QNA_NO, PRO_CODE, USER_ID, QNA_TITLE, QNA_CONTENT)
        VALUES (#{QNA_NO}, #{PRO_CODE}, #{USER_ID}, #{QNA_TITLE}, #{QNA_CONTENT})
    </insert>
    <update id="qnaupdate">
        UPDATE qna
        SET QNA_TITLE = #{QNA_TITLE},
        QNA_CONTENT = #{QNA_CONTENT}
        WHERE QNA_NO = #{QNA_NO}
    </update>
    <delete id="qnadelete">
        DELETE FROM qna WHERE QNA_NO = #{QNA_NO}
    </delete>


    <select id="qnaListWithPaging" resultType="com.example.joinair.dto.QNA">
        SELECT *
        FROM (
        SELECT qna.*, ROWNUM AS rnum
        FROM (
        SELECT * FROM qna
        <if test="keyword != null and keyword != ''">
            WHERE qna_title like '%${keyword}%'
        </if>
        ORDER BY QNA_NO DESC
        ) qna
        )
        WHERE rnum BETWEEN #{startIndex} AND #{endIndex}
    </select>

    <select id="getTotalItemCount" resultType="int">
        SELECT count(QNA_NO) FROM qna
        <if test="keyword != null and keyword != ''">
            WHERE qna_title like '%${keyword}%'
        </if>
    </select>





</mapper>
